extend base

block content

    section.upload 
        h1 FFMPEG Noise Reducer 
        .uploadContainer
            button(type="submit" class="download-btn") Download

        //- .icon 
        //-   i.fa-solid.fa-upload