extend base

block content

    section.upload 
        h1 FFMPEG Noise Reducer 
        .uploadContainer
            h1 Video is Under Processing in our queue your jobId is #{jobId}

        //- .icon 
        //-   i.fa-solid.fa-upload